.btn-outline-primary {
    color: #000000 !important;
    border-color: #019891;
    
}

.btn-outline-primary:hover {
    background-color:#F2CB1E;
    transition: 0.5s;
}

.btn-cat {
    width: 100px;
    font-weight:800
}