.login {
    --bs-gutter-x: 0 !important;
}

.login-form {
    width: 500px;
}

.btn-login{
    background-color: #E7543C !important;
    color: white !important;
}

@media (max-width: 500px) {
    .login-form {
        width: 200px !important;
    }
}