
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.breadcrumb {
    background-color: white;
}

.not-products{
    padding-bottom: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.title-cat, .title-sub{
    font-family: 'Lobster', cursive !important;
    color:  #F2CB1E;
}