@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

nav {
    height: 70px;
    z-index: 9;
}

.navbar-collapse {
    background-color: white;
}

.collapse .navbar-collapse{
    display: flex;
    justify-content: end !important;
}

.nav-btn{
    background-color: #E7543C;
    color: white;
    height: 30px;
    border-radius: 5%;
    margin-left: 10px;
    text-decoration: none;
    width: 100px;
    border-color: #F2CB1E;
}

.profile-btn {
    color: #E7543C;
    height: 30px;
    width: 50px;
}


.over-nav{
    background-color: #019891;
    height: 40px;
}

.new-arrivals{
color:  #F2CB1E;
font-family: 'Londrina Solid', cursive !important;
font: bold;
font-style: oblique;
}

.stuff{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.link{
    text-decoration: none;
    color: #E7543C;
}

.link:hover {
    color:  #F2CB1E;
}

.nav-create{
    background-color: #E7543C;
    color: white;
    height: 30px;
    border-radius: 5%;
    margin-left: 10px;
    text-decoration: none;
    width: 200px;
    border-color: #F2CB1E;
}


@media (max-width: 500px) {
    .new-arrivals{
        font-size: 17px;
        margin-top: 10px;
    }

    .stuff{
        font-size: 11px;
        margin-top: 10px !important;
    }

    .navbar {
        height: 150px;
        display: flex;
    }

    .logo-nav{
        display: flex;
       align-items: center;
       justify-content: center;
        width: 100%;
    }

    .logo{
        margin-left: 5px !important;
    }

    .nav-buttons-nolog{
        justify-content: space-between !important;
        width: 100%;
    }

    .logged-items{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;    
    }

    .nav-create{
        font-size: 10px;
        width: 120px;
    }

    .nav-logout{
        font-size: 10px;
        width: 100px;
    }

    .notifications {
        text-align: center;
        margin-left: 50px !important;
    }

  }