
.image-gallery-svg {
    height: 50px !important;
}

.image-gallery-image {
    border-radius: 10px;
}

.home-desc{
    text-align: justify;
    font-size: 20px;
}

.home-desc-2{
    text-align: justify;
  font-weight: bold;
    font-size: 28px;
}

.title{
    color:  #F2CB1E;
    text-align: center;
    -webkit-text-stroke: 0.3px black;
}

@media (max-width: 500px) {
    .home-desc {
        font-size: 15px;
    }

    .home-desc-2{
        font-size: 18px;
    }
    
    .title{
        margin-top: 0 !important;
    }

}